CONFIG_X86=y
CONFIG_PPL_TEXT_BASE=0x7150000
CONFIG_SYS_MALLOC_LEN=0x2000000
CONFIG_NR_DRAM_BANKS=2
CONFIG_ENV_SIZE=0x1000
CONFIG_DEFAULT_DEVICE_TREE="gigabyte_mz33_ar1"
CONFIG_DEBUG_UART_BASE=0x3f8
CONFIG_DEBUG_UART_CLOCK=1843200
CONFIG_X86_RUN_64BIT_NO_SPL=y
CONFIG_VENDOR_GIGABYTE=y
CONFIG_TARGET_MZ33_AR1=y
CONFIG_DEBUG_UART=y
# CONFIG_HAVE_MICROCODE is not set
CONFIG_SYS_MONITOR_BASE=0x07150000
CONFIG_BOOTSTD_FULL=y
CONFIG_SYS_CONSOLE_INFO_QUIET=y
CONFIG_LOG=y
CONFIG_DISPLAY_BOARDINFO_LATE=y
CONFIG_CMD_CPU=y
CONFIG_ENV_OVERWRITE=y
CONFIG_SYSCON=y
CONFIG_CPU=y
CONFIG_DEBUG_UART_ANNOUNCE=y
CONFIG_BOOTMETH_BLS=y
